.navbar {
    height: 100px;

    .wrapper{
        max-width: 1190px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        height: 100%;

        span {
            font-weight: bold;
            color: #F2E9E4;
        }

        .social{
            display: flex;
            gap: 3px;
        }

        img{
            width: 25px;
            margin: 18px;
        }
    }

   
}

.course{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 200px;
    height: 200px;
    background-color: #F2E9E4;
    
}

